:root{
    --color_principal:rgb(252, 73, 73); 
    --general-shadow:0 .5rem 1rem rgb(0,0,0,.15);
    --h-header:50px

    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}
img{
    width: 100%;
    display: block;
}

body{
    
    padding: 1rem;
    background-color: #cccc;
    
}

body::-webkit-scrollbar {
    width: 8px; /* Tamaño del scroll en vertical */
    height: 8px; /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
    background: var(--color_principal);
    border-radius: 10px;
}


.products{
    padding-top: 3rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    max-width: 1024px;
    gap: 1rem;
    margin: 0 auto;
    
}

.product{
    box-shadow: var(--general-shadow);
    border-radius: 1rem;
    background-color: rgba(179, 168, 168, 0.863);
    
}

div.product__imag:hover {
    transform: translateY(-5%);
  }

  div.product__imag{
    
    transform: translateX(0);
    transition: 0.7s;
  }

  
.product__img{
    padding: 1rem;
    
    
    
}

.product__info{
    background-color: #f5efeff5;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap:1rem ;
    position: relative;
    min-height: 109px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    

}

.product__info > h5{
    
    margin-left: 0.5rem;
}

.product__info > h4{
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}
.product__info span{
    
    margin-left: 0.5rem;
    font-weight: normal;
    font-size: 0.8rem;
    
}

.product__info .soldOut{
    background-color: lightcoral;
    color: #ffffff;
    display: inline-block;
    padding: 0.3rem 0.5rem;
    user-select: none;
    border-radius: 0.3rem;

}
/* boton de añadir */
.bx-plus{
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 50%;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    
    
    
}



.bx.bx-plus{
   
    /* para ajustar la posición del boton agregar*/
    position: absolute;
    top: -0.9rem;
    right: 1rem;   
    
    
}

.bx.bx-plus:hover {
    background-color: var(--color_principal);
    cursor: pointer;
  }

.cart__product--body-op .bx.bx-plus{
   
    padding: 0.5rem;
    border-radius: 50%;
    color: #000000;
    font-size: 1rem;
    cursor: pointer;
    background-color: #ffffff;
    position: relative;
    top: 0;
    right: 0;
    
}



/* .................header */
header{
    height: var(--h-header);
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    left: 0;
    display: flex;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    

}


header > nav{
    max-width: 1024px;
    width: 100%;
    
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;

}
/* carrito de compras */
header >nav >i{
    font-size: 2rem;
    position: relative;
    

}

.amountProducts{
    background-color: #000;
    color: #ffffff;
    font-size: 0.8rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    right: -5px;
    top: 15px;
}




/* .................cart  tarjeta que muestra los productos comprados*/
.cart__product--body-op{
    
    padding: 0.5rem;
    border-radius: 50%;
    color: #000000;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
    
}
.cart{
    height: calc(100vh - var(--h-header));
    width: 400px;
    padding: 1rem;
    background-color: #ffffff;
    position: fixed;
    top: var(--h-header);
    /* este comando muestra que tanto se va a mostrar  */
    right: -100%;
    display: flex;
    flex-direction: column;
    /* transición de la tarjeta que muestra el total */
    transition: right 0.3s;

}
/* aca nos da la transición junto con el rigth del -100% si se 
pone el 100% sale del lado izquierdo */
.cart__show{
    right: 0;
}
/* color de la caja y scroll */
.cart__products{
    
    height: 80%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    
    
    
}

.cart__product{
    
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    box-shadow: var(--general-shadow)
}

.cart__product--img
{
    background-color: #ccc;
    width: 40%;
    border-radius: 1rem;
}.cart__product--body{
    width: 60%;
    padding: 1rem;
}
        
/* bloque de comprar  */
.cart__total{
    
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}

.cart__product--body{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}



.cart__product--body-op .bx-trash{
    color: crimson;
}

.cart__total--info{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn{
    background-color: gray;
    padding: 0.7rem;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
}




.informacion_final{
    background-color: rgb(235, 222, 222);
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
    gap: 3rem;
   
}

.information{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    
}

.information ul{
    
    list-style: none;
}

.card_information{
    background-color: var(--color_principal);
    color: #ffffff;
    padding: 1rem 3rem;
    font-size: 0.8rem;
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight:bolder

}

.container_pr{
    max-width: 100%;
}
.container{
    
   
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
    max-width: 1024px;
    
    background-color: #ffffff;
    
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: relative;
    
    
}

.title{
    margin-left: 5rem;
    font-weight: bold;
    display: flex;
    gap: 3rem;
    
    
    

}

.title span{
    color: var(--color_principal);
}


.card_information span{
    color: #000;
}

.sweatshirt_principal{
    background-color: var(--color_principal);
    display: flex;
    align-items: center;
    /* min-width: 400px; */
    /* width: 20%; */
    margin: 1rem 5rem;
    padding-bottom: 4rem;
    padding-top: 6rem;
    

}

.heather_infor{
    
    margin: 2rem 2rem;
    /* width: 80%; */
    height: 300px;
    
    
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

    
.principal{
    
    color: #ccc;
    margin-top: 2rem;
    width: 450px;
}

.price_principal{
    color: var(--color_principal);
    margin-top: 1rem;
    font-weight: bold;
    
    
}

.btn_init{
    padding: 0.4rem 2rem;
    background-color: #000;
    color: #ccc;
    font-weight: bold;
    margin-top: 1rem;
    


}



.title svg{
    
    width: 30px;

    
}

.load__gif{
   width: 20px;
    fill: var(--color_principal);
    border: none;
}


.buttons{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.buttons button:hover {
    color: #ccc;
    background-color: #726d6d;
    padding: 1rem 1rem;
    cursor: pointer;
    gap: 2rem;
  }
.buttons button{
    background-color: transparent;
    transition: 0.3s;
    padding: 10px 20px;
    border: none;
}

.tit{
    gap: 4rem;
}




@media(max-width:500px){

   
    
   
    .cart{
        width: 100%;
    }

    .information{
        display: flex;
    flex-direction: column;
    gap: 2rem;
    
        
        
    }

    
        
        
    
    }



